<div class="container mt-5">
    <!-- Content Row -->
    <div class="row justify-content-center">
      <div class="col-md-8 text-justify">
        <h1 class="text-center">Alexander Garbuz</h1>
        <p class="text-justify">
          Senior IT professional with more than 25 years of combined software development, leadership,
          and management experience in insurance, healthcare, telecommunications, and e-commerce industries.
        </p>
        <ul class="list-unstyled text-justify">
          <li>
            <i class="fa fa-at"></i>&nbsp;
            <a href="mailto:alexander.garbuz@mail.com">alexander.garbuz&#64;mail.com</a>
          </li>
          <li>
            <i class="fab fa-chrome"></i>&nbsp;
            <a href="https://www.garbuz.com" target="_blank" rel="noopener noreferrer">
                garbuz.com
            </a>
          </li>
          <li>
            <i class="fab fa-linkedin"></i>&nbsp;
            <a href="https://www.linkedin.com/in/garbuz/" target="_blank" rel="noopener noreferrer">
              linkedin.com/in/garbuz/
            </a>
          </li>
          <li>
            <i class="fab fa-github"></i>&nbsp;
            <a href="https://github.com/alexandergarbuz" target="_blank" rel="noopener noreferrer">
                github.com/alexandergarbuz
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  