<div class="container-fluid mt-4">
  <div class="row">
    <!-- Left navigation menu - fixed position -->
    <div class="col-md-3">
      <div class="position-sticky" style="top: 1rem;">
        <ul class="nav flex-column">
          <li class="nav-item" *ngFor="let category of menuCategories">
            <a class="nav-link"
               [class.active]="activeSection === category.id"
               href="javascript:void(0)"
               (click)="scrollTo(category.id)">
              {{ category.name }}
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Right scrollable content -->
    <div class="col-md-9" #contentContainer>
      <div *ngFor="let category of menuCategories" [attr.id]="category.id" class="mb-5">
        <h3>{{ category.name }}</h3>
        <ul>
          <li *ngFor="let item of category.items">{{ item }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
